body{
   background:linear-gradient(to top,#460606,rgb(156, 45, 11),gray,black);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-variant:normal;
   font-size:larger;
   color: white;
}
h1{
    text-align:center;
    background-color: #050000; 
	padding: 8px;
	border: 1px solid #460606; 
	width:auto;
}
/* Style the form */
form {
    background-image: url('car\ background.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid #030303;
    border-radius: 15px;
    box-shadow: #460606;
    width:50%;
	margin: 100px auto; 
	padding: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fdfbfb;
    background-color: transparent;
}
input[type="submit"] {
    background-color:white;
    color: #0a0a0a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:black;
}